@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {

  .bg-yellow-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(97 0 216);
}
  .text-yellow-400{
color: yellow;}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(234 234 234);
}
  }
  .gradient-text1 {
    background: rgb(255, 255, 255) ;/* from-purple-600 to-blue-600 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-text {
    background: linear-gradient(to right, #b100ff, #00c4ff); /* from-purple-600 to-blue-600 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    /* font-family: 'Anton', sans-serif; */
    .bg-purple-600 {
      --tw-bg-opacity: 1;
      background-color: rgb(41 41 41);
  }
  .bg-gray-900\/30 {
    background-color: #0000004d;
}


.hover\:bg-yellow-300:hover {

    color: black;}
